<!DOCTYPE html>
<html lang="en">
<head>


     <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 <meta charset="UTF-8">
    <title>Added Project Successfully</title>

  <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  <style>
      body {
          background-image: url('.../static/image.png');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
      }
    </style>


</head>

    {% extends "template.html" %}
    {% block content %}
<body>
      <h1> Send me a message </h1>
      <div class="row">
        <div class="sendmessage" style="background-color:#aaa;">
          <form  method = "post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required="required" maxlength="50" size="50"><br>
            <label for="PhNo">Phone Number:</label><br>
            <input type="text" id="PhNo" name="PhNo" required="required" maxlength="300" size="100"><br>
            <label for="message">Message:</label><br>
            <input type="text" id="message" name="message" required="required" maxlength="100" size="100"><br>
            <hr size ="10">
            <input type="submit" value="Send Message" >
          </form >
        </div>
      </div>
</body>
 {% endblock %}

</html>