<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>My Project</title>
  <title>Education set</title>

</head>
<body>
{% extends "template.html" %}
{% block content %}

<h1> Education </h1>






<table id='table'>

            <tr>
                <th>Year Graduated</th>
                <th>Level</th>
                <th>Course</th>
                <th>University</th>
            </tr>
            <tr>
                <th>2013</th>
                <th>Bachelors</th>
                <th>Electronics and Communication Engineering</th>
                <th>JNTUA</th>
            </tr>
            <tr>
                <th>2023*</th>
                <th>Masters</th>
                <th>Computer Science</th>
                <th>TAMUC</th>
            </tr>



         </table>
<p>*prospective graduation year</p>
</body>
{% endblock %}
</html>