<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>My Project</title>
  <title>skill set</title>

</head>
<body>
{% extends "template.html" %}
{% block content %}

<h1> Skill Set </h1>

<table id='table'>
            <!-- HEADING FORMATION -->
            <tr>
                <th>Technology</th>
                <th>Tools</th>

            </tr>
            <tr>
                <th>Languages</th>
                <th>Java 8, J2EE, SQL, and PL/SQL</th>
            </tr>
            <tr>
                <th>Mark-up/XML Technologies</th>
                <th>XML, XSD, XSL/XSLT, SAX/DOM, JSON</th>
            </tr>
            <tr>
                <th>Frameworks</th>
                <th>Spring, Spring Boot, Hibernate</th>
            </tr>
            <tr>
                <th>Technologies</th>
                <th>J2EE, Kafka</th>
            </tr>
            <tr>
                <th>Webservices</th>
                <th>RESTful and SOAP</th>
            </tr>
            <tr>
                <th>Tools & Framework</th>
                <th>Spring, Hibernate, Spring MVC, Spring Web Flow, Spring IOC, Log4J, Spring Boot, Spring Cloud, Spring Batch, Spring Security</th>
            </tr>
            <tr>
                <th>Web services</th>
                <th>SOAP, Restful, WSDL, JAX-RS, JAX-WS, Jersey, Micro services Architecture</th>
            </tr>

         </table>



{% endblock %}
</body>
</html>